.social-icon-evernote {
	background: url('imgs/social-media-icons-15.png') no-repeat 24.88% 6%;
	background-size: 350px 136px;
	width: 37px;
	height: 36px;
}

//dribble
.social-icon-dribble {
	background: url('imgs/social-media-icons-15.png') no-repeat 41.627% 6%;
	background-size: 350px 136px;
	width: 37px;
	height: 36px;
};

.social-icon-instagram {
	background: url('imgs/social-media-icons-15.png') no-repeat 75.12% 6%;
	background-size: 350px 136px;
	width: 37px;
	height: 36px;
}